#Configuration für mypocketmod
#Sun Jun 09 21:15:20 CEST 2019
mypocketmod.sourcedir=src/test/resources/
mypocketmod.targetdir=generated/src/test/
mypocketmod.output.filename=mypocketmod.pdf
mypocketmod.page1.filename=TODOListe.pdf
mypocketmod.page1.orientation=auto
mypocketmod.page2.filename=CodeReview.pdf
mypocketmod.page2.orientation=auto
mypocketmod.page3.filename=CodeSmells.pdf
mypocketmod.page3.orientation=auto
mypocketmod.page4.filename=Termine.pdf
mypocketmod.page4.orientation=auto
mypocketmod.page5.filename=EssenTrinken.pdf
mypocketmod.page5.orientation=auto
mypocketmod.page6.filename=Notizen.pdf
mypocketmod.page6.orientation=auto
mypocketmod.page7.filename=Ausgaben.pdf
mypocketmod.page7.orientation=auto
mypocketmod.page8.filename=SQLZugriff.pdf
mypocketmod.page8.orientation=auto


