#Configuration für PDF2Pocketmod
#Sun Jun 09 21:15:20 CEST 2019
pocketmod.sourcedir=src/test/resources/
pocketmod.targetdir=generated/src/test/
pocketmod.page1.filename=Ausgaben.pdf
pocketmod.page8.filename=CodeReview.pdf
pocketmod.page6.filename=CodeSmells.pdf
pocketmod.page4.filename=Termine.pdf
pocketmod.page2.filename=EssenTrinken.pdf
pocketmod.page7.filename=Notizen.pdf
pocketmod.page5.filename=TODOListe.pdf
pocketmod.page3.filename=SQLZugriff.pdf
