#Configuration für MyPocketmod
#Sun Jun 23 13:18:15 CEST 2019
mypocketmod.page3.filename=parts\\Einkaufsliste.pdf
mypocketmod.page1.orientation=auto
mypocketmod.page4.orientation=auto
mypocketmod.page7.filename=parts\\Ausgaben.pdf
mypocketmod.page1.filename=parts\\Notizen.pdf
mypocketmod.page6.filename=parts\\TODOListe.pdf
mypocketmod.page2.orientation=auto
mypocketmod.page5.orientation=auto
mypocketmod.targetdir=E\:\\.
mypocketmod.page4.filename=parts\\EssenTrinken.pdf
mypocketmod.page3.orientation=auto
mypocketmod.page6.orientation=auto
mypocketmod.page8.filename=parts\\SQLZugriff.pdf
mypocketmod.page2.filename=parts\\Termine.pdf
mypocketmod.page7.orientation=auto
mypocketmod.sourcedir=E\:\\.
mypocketmod.page5.filename=parts\\CodeSmells.pdf
mypocketmod.page8.orientation=auto
mypocketmod.output.filename=MyPocketmod.pdf
